body {
  background-color: white;
}

.original-header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  box-shadow: 0 2px 5px black;
}

.world-title {
  color: white;
  text-align: center;
}

.tabs-home {
  text-align: center;
  font-size: 30px;
}

.tabs-home a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

main {
  margin-top: 130px;
}

fieldset {
  border: 1px solid #ddd;
}

legend {
  font-weight: bold;
}

footer a {
  text-decoration: none;
}

